[Unit]
Description=StrayLight Personalization Wizard
After=display-manager.service graphical.target

[Service]
Type=simple
ExecStartPre=/usr/lib/straylight/straylight-wizard-check
ExecStart=/usr/bin/straylight-wizard
Restart=no

[Install]
WantedBy=graphical.target
