#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CXXFLAGS_MAINT_APPEND = -std=c++20

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE=RelWithDebInfo \
		-DCMAKE_INSTALL_PREFIX=/usr \
		-DCMAKE_INSTALL_LIBDIR=lib/x86_64-linux-gnu \
		-DBUILD_SHARED_LIBS=ON \
		-DSTRAYLIGHT_BUILD_LIBS_ONLY=ON \
		-DSTRAYLIGHT_VERSION=$(DEB_VERSION_UPSTREAM)

override_dh_auto_build:
	dh_auto_build -- -j$(shell nproc) \
		straylight-common straylight-ml straylight-net straylight-hw

override_dh_auto_test:
	dh_auto_test -- ARGS="--output-on-failure -L lib"

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp

override_dh_shlibdeps:
	dh_shlibdeps -l/usr/lib/x86_64-linux-gnu
