[Desktop Entry]
Type=Application
Name=Install StrayLight OS
GenericName=Installer
Comment=Install StrayLight OS to your hard drive
Exec=/usr/bin/straylight-install
Icon=calamares
Terminal=false
Categories=System;
StartupNotify=true
Keywords=install;installer;setup;
